wheel

notebook
ipykernel

# black  # replaced by ruff
ruff
wcwidth
tabulate[widechars]
tqdm

numpy
pandas
# SQLAlchemy
# oracledb
pyarrow
dask

polars[pandas,numpy,pyarrow,xlsx2csv,plot,style,timezone]
# didn't include all: fsspec,connectorx,deltalake


# excel handling
xlsx2csv
openpyxl
xlrd  # xls

matplotlib>=3.6
seaborn